*{
box-sizing:border-box;
font-family:sans-serif;
}

body{
margin:0;
background:#f2f2f2;
color:#111;
}

body.dark{
background:#0e0e0e;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:1rem;
background:#111;
color:white;
}

.form{
display:flex;
flex-direction:column;
gap:10px;
padding:1rem;
}

input,select,button{
padding:.7rem;
border-radius:8px;
border:none;
font-size:16px;
}

button{
background:#1e88e5;
color:white;
}

#lista{
padding:1rem;
}

.item{
background:white;
padding:10px;
margin-bottom:8px;
border-radius:10px;
display:flex;
justify-content:space-between;
}

body.dark .item{
background:#1c1c1c;
}

footer{
position:fixed;
bottom:0;
width:100%;
padding:.5rem;
background:#111;
}

canvas{
margin:80px auto;
max-width:95%;
}