*{box-sizing:border-box}

body{
margin:0;
background:#020617;
color:white;
font-family:sans-serif
}

header{
padding:15px;
text-align:center;
font-size:20px;
background:#020617;
position:sticky;
top:0
}

.resumen{
padding:15px;
text-align:center
}

#balance{
font-size:32px;
margin-bottom:10px
}

.form{
padding:15px;
display:flex;
flex-direction:column;
gap:10px
}

input,select,button{
padding:14px;
border-radius:10px;
border:none;
font-size:16px
}

button{
background:#22c55e
}

.mes{
margin:10px;
width:95%;
padding:12px;
border-radius:10px
}

.lista{
padding:10px;
display:flex;
flex-direction:column;
gap:10px
}

.item{
background:#0f172a;
padding:15px;
border-radius:12px
}

footer{
position:sticky;
bottom:0;
display:flex;
gap:10px;
padding:10px;
background:#020617
}

footer button{
flex:1
}